:host * {
    transition: all 500ms ease-in-out;
}

.menu-item {
    border-left: 5px solid;
    border-left-color: rgba(0,0,0,0);
}

.selected-menu-item {    
    border-left-color: var(--primary-color);
    background: rgb(0, 0, 0, 0.05);
}


.idented{
    --mat-list-list-item-leading-icon-start-space: 48px;
}

