<mat-toolbar class="mat-elevation-z3">
  <mat-toolbar-row>
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <span>管理系统脚手架</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet />
  </mat-sidenav-content>

</mat-sidenav-container>