mat-sidenav-container{
    height: calc(100vh - 64px);
}

mat-sidenav, mat-sidenav-content{
    transition: all 500ms ease-in-out;
}

mat-toolbar{
    position: relative;
    z-index: 0;
}

.content{
    padding: 24px;
}